@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}
body {
  background-color: #a3f4ef;
}
img {
  width: 100%;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,p {
  margin-bottom: 0;
}
ul,
li {
  list-style: none;
}

ul {
  padding: 0;
}
.bottom-img img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100vh;
  background-color: #5a8298;
}
.sidebar img {
  width: 40px;
  margin: 10px 0px;
}
.sidebar ul li {
  display: block;
  text-align: center;
}

.content {
  margin-left: 150px;
}

.topbar img {
  width: 75px;
  margin-right: 15px;
}
.topbar img.plus-icon {
  width: 42px;
}
/* .topbar h3{} */

.parent-card {
  padding: 25px;
}
.parent-card h2 {
  margin-bottom: 20px;
}
.text-card {
  background-color: #5a8298;
  color: #fff;
  padding: 15px;
}
.text-card h4 {
  margin-bottom: 20px;
}

.search input{
    padding: 10px;
    outline: none;
    border: none;
    color: #020202;
    background-color: #D9D9D9;
    width: 100%;
    padding-right: 30px;
    border-radius: 5px;
}
.search img{
    position: absolute;
    right: 10px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.conversion {
    background-color: #5A8298;
    padding: 15px;
}
.conversion img{
    width: 50px;
}
.conversion-content{
    background-color: #D9D9D9;
    padding: 10px;
    min-height: 70vh;
    margin-top: 15px;
}
.menu-icon{
    width:30px
}

@media (max-width:991px) {
    /* .sidebar{
        left: -500px;
    } */
    .content{
        margin-left: 70px;
    }
    h3{
        font-size: 15px !important;
    }
    h5{
        font-size: 16px;
    }
    .text-card h4{
        font-size: 17px;
    }
    .text-card p{
        font-size: 13px;
    }
    .parent-card h2{
        font-size: 28px;
    }
    .topbar img{
        width: 55px;
    }
    .topbar img.plus-icon{
        width: 35px;
    }
    .conversion img{
        width: 40px;
    }
    .text-card h4{
        margin-bottom: 15px;
    }
}

@media (max-width: 767.98px) {
    .text-card{
        margin-bottom: 15px;
    }
    .content{
        margin-left: 100px;
    }
}

@media (max-width: 575.98px) {
    .sidebar{
        left: -500px;
        transition: .5s;
        z-index:5
    }
    .sidebar.active{
        left: 0;
        width: 150px;
    }
    .content{
        margin-left: 0;
    }
    .search {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 0 !important;
    }
    .close-icon{
        width: 25px !important; 
        /* padding: 15px; */
    }
    .overlay{
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 40%);
        z-index: 1;
    }
}